<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li 
            class="list-group-item" 
            *ngFor="let number of oddNumbers"
            [ngClass]="{odd: number % 2 !== 0}"
            [ngStyle]="{backgroundColor: number%2 !== 0 ? 'yellow':'transparent'}">
            {{ number }}
          </li>
        </div>
        <!-- <div *ngIf="!onlyOdd">
          <li 
            class="list-group-item" 
            *ngFor="let number of evenNumbers"
            [ngClass]="{odd: number % 2 !== 0}"
            [ngStyle]="{backgroundColor: number%2 !== 0 ? 'yellow':'transparent'}" appBetterHighlight>
            {{ number }}
          </li>
        </div>
        <ng-template [ngIf]="!onlyOdd">
          <div>
            <li 
              class="list-group-item" 
              *ngFor="let number of evenNumbers"
              [ngClass]="{odd: number % 2 !== 0}"
              [ngStyle]="{backgroundColor: number%2 !== 0 ? 'yellow':'transparent'}" appBetterHighlight>
              {{ number }}
            </li>
          </div>
        </ng-template> -->
        <div *appUnless="onlyOdd">
          <li 
            class="list-group-item" 
            *ngFor="let number of evenNumbers"
            [ngClass]="{odd: number % 2 !== 0}"
            [ngStyle]="{backgroundColor: number%2 !== 0 ? 'yellow':'transparent'}" appBetterHighlight>
            {{ number }}
          </li>
        </div>
      </ul>
      <div>
        <p appBasicHighlight>Style with basic directives</p>
        <p appBetterHighlight>Style with Better directives</p>
      </div>
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">Value is 5</p>
        <p *ngSwitchCase="10">Value is 10</p>
        <p *ngSwitchDefault>This is Default Value</p>
      </div> 
       
    </div>
  </div>
</div>